{% extends "layout.html" %} {% block content %}

<div class="p-5 mb-4 bg-body-tertiary text-justify">
    <div class="container-fluid">
      <h1 class="display-7 fw-bold">Análisis de Procesos.</h1>
      <hr class="my-4"/>
      <p class="fs-4 text-justify lead">Optimizo la eficiencia empresarial a través de la identificación y mejora de flujos de trabajo. Mis proyectos demuestran cómo reducir costos, minimizar tiempos de ejecución y maximizar la productividad, impulsando la excelencia operativa.</p>
    </div>
</div>
{% endblock %}