{% extends "layout.html" %} {% block content %}
<div class="p-5 mb-4 bg-body-tertiary text-justify">
    <div class="container-fluid">
      <h1 class="display-7 fw-bold">Ciencia de Datos.</h1>
      <hr class="my-4"/>
      <p class="fs-4 text-justify lead">Utilizo datos para tomar decisiones informadas. Mi enfoque en la minería de datos, análisis estadístico y visualización convierte la información en conocimiento, desbloqueando oportunidades de crecimiento y soluciones estratégicas.</p>
    </div>
</div>
{% endblock %}