{% extends "layout.html" %} {% block content %}
<div class="p-5 mb-4 bg-body-tertiary text-justify">
    <div class="container-fluid">
      <h1 class="display-7 fw-bold">Curiosidades.</h1>
      <hr class="my-4"/>
      <p class="fs-4 text-justify lead">Exploro ideas fascinantes y curiosidades en el mundo de la tecnología y la ciencia. A través de artículos, análisis y proyectos experimentales, comparto perspectivas únicas y descubrimientos sorprendentes, manteniendo la mente abierta a lo inexplorado.</p>
    </div>
</div>
{% endblock %}