{% extends "layout.html" %} {% block content %}


<style>
  .fs-1 {
    margin-bottom: 4px !important;
  }

  .fs-1 ul {
    margin-top: 5px !important;
    margin-bottom: 4px !important; 
  }

  .fs-1 ul li {
    margin-bottom: 5px !important;
  }

  /* Utilidades de espaciado Bootstrap */
  .mt-0 {
    margin-top: 0 !important;
  }

  .mt-1 {
    margin-top: $spacer * .25 !important;
  }

  .mt-2 {
    margin-top: $spacer * .5 !important;
  }

  .mt-3 {
    margin-top: $spacer !important;
  }

  .mt-4 {
    margin-top: $spacer * 1.5 !important;
  }

  .mt-5 {
    margin-top: $spacer * 3 !important;
  }

  /* Puedes agregar más utilidades de espaciado según sea necesario */
</style>

<div class="p-5 mb-4 bg-body-tertiary text-justify">
    <div class="container-fluid">
      <h1 class="display-7 fw-bold">Data Engineer</h1>
      <hr class="my-4"/>
      <p class="fs-4 text-justify lead">
        <strong>Título del Proyecto:</strong>
          Gestión de Contactos con Flask y SQL: Aplicación CRUD      
      </p>

      <p class="fs-4 mb-0 text-justify lead">
        <strong>Descripción Breve:</strong>
        <ul>
            <li class="mt-0">Desarrollé una aplicación web utilizando Flask y Python para gestionar una lista de contactos. La aplicación permite realizar operaciones CRUD y se conecta a una base de datos SQL para almacenar la información de los contactos.</li>
        </ul>
      </p>

      <p class="fs-4 mb-0 text-justify lead">
        <strong>Características Destacadas:</strong>
        <ul class="mt-0">
          <li>Desarrollo de una aplicación web para gestionar contactos con operaciones CRUD y conexión a base de datos SQL.</li>
          <li>Implementación eficiente de operaciones CRUD en una interfaz web interactiva y dinámica con Flask.</li>
          <li>Diseño atractivo y responsive mediante la integración de Bootstrap.</li>
          <li>Almacenamiento persistente de datos a través de conexión a base de datos SQL.</li>
        </ul>
      </p>

      <p class="fs-4 mb-0 text-justify lead">
        <strong>Tecnologías Utilizadas:</strong>
        <ul>
          <li class="mt-0">"Flask, Python, Bootstrap, SQL (CRUD), HTML, CSS, JavaScript."</li>
        </ul>
      </p>

    </div>
</div>



{# Tablas para llenar los datos y visualización de datos #}




<div class="row">
  <div class="col-md-5">
    {# Comentario: Aquí estamos creando una variable messages #}
    {% with messages = get_flashed_messages() %}
    {# Comentario: Si existen #}
    {% if messages %}
    {% for message in messages %} 
    {# Comentario:<p>{{message}}</p>#}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {# Comentario: para que termine el for #}
    {% endfor %}
    {# Comentario: para que termine el condicional #}
    {% endif %}
    {# Comentario: para que termine o cierre el with #}
    {% endwith %}
    <div class="card card-body mt-4"> {# {{url_for('/Dataengineer/add_contact')}}  Probar esto si me sale algun error con los agregar contactos#}
      <form action="{{url_for('add_contact')}}" method="POST">
        <div class="form-group pt-4">
          <input type="text" class="form-control" name="fullname" placeholder="FullName">
        </div>
        <div class="form-group pt-4">
          <input type="text" class="form-control" name="phone" placeholder="Phone">
        </div>
        <div class="form-group pt-4">
          <input type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <button type='submit' class="btn btn-primary btn-block mt-4">
          Save 
        </button>
      </form>
    </div>
  </div>
  {# Aqui hago la tabla que está en el frontend #}
  <div class="col-md-7 mt-4">
    <table class="table table-striped table-hover table-bordered table-sm bg-white mt-4">
      <thead>
        <tr>
          <td>ID</td>
          <td>Fullname</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Operations</td>
        </tr>
      </thead>
      <tbody> {# Aqui hacemos el tbody, el tbody es el vamos a llenar en realidad, lo vamos a llenar con los datos que vienen desde nuestras base de datos, pero debemos hacerlo con sultas, lo hacemos desde el index#}
        {% for contact in contacts %}
        <tr>
          {# Se pone entre dobles llaves los siguientes porque queremos mostrar el valor y no el nombre#}
          <td>{{contact.0}}</td>
          <td>{{contact.1}}</td>
          <td>{{contact.2}}</td>
          <td>{{contact.3}}</td>
          <td> {#  href="/Dataengineer/edit/{{contact.0}}"   Probar esto si me sale algun error con los borrar y editar contactos#}
            <a href="/Dataengineer/edit/{{contact.0}}" class="btn btn-secondary">Edit</a>
            <a href="/Dataengineer/delete/{{contact.0}}" class="btn btn-danger btn-delete">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>



{% endblock %}