{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Portafolio Vázquez Edwin</h1>
  <p class="lead">
    Adéntrate en el mundo del análisis de datos con un científico apasionado que
    desvela insights en los números.
  </p>
  <hr class="my-4" />
  <p>
    Este portafolio revela cómo la ciencia de datos impulsa decisiones
    inteligentes y soluciones innovadoras en un mundo impulsado por la
    información.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Adéntrate</a>
</div>

{% endblock %}
