{% extends "layout.html" %} {% block content %}
<div class="p-5 mb-4 bg-body-tertiary text-justify">
    <div class="container-fluid">
      <h1 class="display-7 fw-bold">Inteligencia Artificial</h1>
      <hr class="my-4"/>
      <p class="fs-4 text-justify lead">Desarrollo soluciones avanzadas utilizando IA. Mis proyectos demuestran la capacidad de crear modelos de machine learning, procesamiento de lenguaje natural y visión por computadora para automatizar tareas, tomar decisiones y mejorar la interacción hombre-máquina.</p>
    </div>
</div>
{% endblock %}