body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@media (max-with:768px) {#intro{width:90% !important;}.servicio-fila {width:100% !important; text-align:center; }}
@media(max-width:576px){.icono-wrap{flex-wrap: wrap; justify-content:center !important;}}